/* MostPopular */
.blog-heading {
  font-size: 2rem;
  font-weight: 600;
  color: var(--textClr);
  text-align: center;
  margin-top: 1rem;
}

.text-start {
  text-align: start;
}
.pt-3 {
  padding-top: 0.75rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.col-md-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  padding-right: 15px;
  padding-left: 15px;
}
.padding {
  padding: 1rem;
}
.align-self-center {
  align-self: center !important;
}

.col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}
.text-center {
  text-align: center !important;
}

.most-popular-font {
  font-weight: 500;
}

.most-popular-font-meta {
  font-size: 12px;
  color: #777;
}
.most-popular-img {
  height: 80px;
  width: 100%;
}
@media (max-width: 49.9375rem) {
  .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-7 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
  