:root {
  --lightPurple: #8d3a95;
  --greyPurple: #6a2c70;
  --darkPurple: #471e4b;
  --grey: #b4b6c4;
  --textClr: #6a2c70;
  --accentClr: #be9e44;
  --deepGold: #cbb26a;
  --greyGold: #d8c690;
  --lightGold: #efe2ba;
  --white: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-size: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--white);
  /* background: linear-gradient(
    90deg,
    var(--brownGray) 0%,
    var(--lightGrey) 26%,
    var(--brownGray) 80%,
    var(--grey) 100%
  ); */
  color: var(--textClr);
  /* font-family: "Ubuntu Mono", monospace; */
  font-family: 'Comic Neue', cursive;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  transition: color 400ms ease-in;
  text-decoration: none;
}
a:hover {
  color: var(--accentClr);
}
a:active {
  color: var(--accentClr);
}
a:active,
h1:active {
  background: none;
}

a:focus {
  background: var(--accentClr);
  color: var(--white);
  outline: none;
  padding: 5px 10px;
}

.container {
  width: min(90%, 1024px);
  margin: 0 auto;
  /* max-width:1024px;  */
  /* width:90%;  */
}

.sign-in {
  height: 80dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 70px;
}
.btnn {
  padding: 5px 15px;
  background: #6e03b5cf;
  border: none;
  color: var(--white);
  border-radius: 5px;
  margin-left: 250px;
  cursor: pointer;
}
.btnn:hover {
  background: var(--accentClr);
  color: var(--white);
}
.btnn:active {
  background: var(--accentClr);
  color: var(--white);
}
.btnn:focus {
  background: var(--accentClr);
  color: var(--white);
  outline: none;
}
.btn:disabled {
  background: var(--grey);
  color: var(--white);
}
.btnn:disabled:hover {
  background: var(--grey);
  color: var(--white);
}
.btn:disabled:active {
  background: var(--grey);
  color: var(--white);
}
.btnn:disabled:focus {
  background: var(--grey);
  color: var(--white);
}
.btnn:disabled {
  background: var(--grey);
  color: var(--white);
}
.btnn:disabled:hover {
  background: var(--grey);
  color: var(--white);
}
.btnn:disabled:active {
  background: var(--grey);
  color: var(--white);
}
.btnn:disabled:focus {
  background: var(--grey);
  color: var(--white);
}
.btn:disabled {
  background: var(--grey);
  color: var(--white);
}
.btnn:disabled:hover {
  background: var(--grey);
  color: var(--white);
}
.btn:disabled:active {
  background: var(--grey);
  color: var(--white);
}
.btnn:disabled:focus {
  background: var(--grey);
  color: var(--white);
}
.btnn:disabled {
  background: var(--grey);
  color: var(--white);
}
.btnn:disabled:hover {
  background: var(--grey);
  color: var(--white);
}
.btn:disabled:active {
  background: var(--grey);
  color: var(--white);
}
.btnn:disabled:focus {
  background: var(--grey);
  color: var(--white);
}
.btn-sign-in {
  margin-top: 20px;
  padding: 5px 15px;
  background: #6e03b5cf;
  border: none;
  color: var(--white);
  border-radius: 5px;
}
.btn-sign-in:hover {
  background: var(--accentClr);
  color: var(--white);
}
.btn-sign-in:active {
  background: var(--accentClr);
  color: var(--white);
}
.btn-sign-in:focus {
  background: var(--accentClr);
  color: var(--white);
  outline: none;
}
.btn-sign-in:disabled {
  background: var(--grey);
  color: var(--white);
}
.btn-sign-up {
  margin-top: 20px;
  padding: 5px 15px;
  background: #6e03b5cf;
  border: none;
  color: var(--white);
  border-radius: 5px;
}
form {
  width: min(80%, 700px);
  margin: 0 auto;
  box-shadow: 2px 0px 5px -1px var(--accentClr);
  padding-inline: 24px;
  padding-block: 40px;
}
.form-group {
  margin-bottom: 10px;
}
label {
  display: block;
  margin-bottom: 10px;
}
.flex {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
input {
  width: 100%;
  border: 1px solid var(--accentClr);
  padding: 7px 15px;
  border-radius: 5px;
}
input:focus {
  outline: none;
  border-color: var(--accentClr);
}
input[type='submit'] {
  background: var(--accentClr);
  color: var(--white);
  border: none;
  cursor: pointer;
}
input[type='submit']:hover {
  background: var(--accentClr);
  color: var(--white);
}
input[type='submit']:active {
  background: var(--accentClr);
  color: var(--white);
}
input[type='submit']:focus {
  background: var(--accentClr);
  color: var(--white);
}
input[type='submit']:disabled {
  background: var(--grey);
  color: var(--white);
  cursor: not-allowed;
}
input[type='submit']:disabled:hover {
  background: var(--grey);
  color: var(--white);
}
input[type='submit']:disabled:active {
  background: var(--grey);
  color: var(--white);
}
input[type='submit']:disabled:focus {
  background: var(--grey);
  color: var(--white);
}
input[type='submit']:disabled {
  background: var(--grey);
  color: var(--white);
}
input[type='submit']:disabled:hover {
  background: var(--grey);
  color: var(--white);
}
.sign-up-cursor {
  cursor: pointer;
}
.sign-in-title {
  margin-bottom: 20px;
  margin-top: 20px;
}
.sign-up-title {
  margin-bottom: 20px;
  margin-top: 20px;
}
.sign-in-title,
h1 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
.sign-up-title,
h1 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
