:root {
  --lightPurple: #8d3a95;
  --greyPurple: #6a2c70;
  --darkPurple: #471e4b;
  --grey: #b4b6c4;
  --textClr: #6a2c70;
  --accentClr: #be9e44;
  --deepGold: #cbb26a;
  --greyGold: #d8c690;
  --lightGold: #efe2ba;
  --white: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-size: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--white);
  font-family: 'Comic Neue', cursive;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  transition: color 400ms ease-in;
  text-decoration: none;
}
a:hover {
  color: var(--accentClr);
}
a:active {
  color: var(--accentClr);
}
a:active,
h1:active {
  background: none;
}

a:focus {
  background: var(--accentClr);
  color: var(--white);
  outline: none;
  padding: 5px 10px;
}

.container {
  width: min(90%, 1024px);
  margin: 0 auto;
}

/* AUTH */

.sign-in {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 60px;
}
.btnn {
  padding: 5px 15px;
  background: #6e03b5cf;
  border: none;
  color: var(--white);
  border-radius: 5px;
  margin-left: 250px;
  cursor: pointer;
}
.btnn:hover {
  background: var(--accentClr);
  color: var(--white);
}
.btnn:active {
  background: var(--accentClr);
  color: var(--white);
}
.btnn:focus {
  background: var(--accentClr);
  color: var(--white);
  outline: none;
}
.btn:disabled {
  background: var(--grey);
  color: var(--white);
}
.btnn:disabled:hover {
  background: var(--grey);
  color: var(--white);
}
.account {
  margin-top: 10px;
}
.btn:disabled:active {
  background: var(--grey);
  color: var(--white);
}
.btnn:disabled:focus {
  background: var(--grey);
  color: var(--white);
}
.btnn:disabled {
  background: var(--grey);
  color: var(--white);
}
.btnn:disabled:hover {
  background: var(--grey);
  color: var(--white);
}
.btnn:disabled:active {
  background: var(--grey);
  color: var(--white);
}
.btnn:disabled:focus {
  background: var(--grey);
  color: var(--white);
}
.btn:disabled {
  background: var(--grey);
  color: var(--white);
}
.btnn:disabled:hover {
  background: var(--grey);
  color: var(--white);
}
.btn:disabled:active {
  background: var(--grey);
  color: var(--white);
}
.btnn:disabled:focus {
  background: var(--grey);
  color: var(--white);
}
.btnn:disabled {
  background: var(--grey);
  color: var(--white);
}
.btnn:disabled:hover {
  background: var(--grey);
  color: var(--white);
}
.btn:disabled:active {
  background: var(--grey);
  color: var(--white);
}
.btnn:disabled:focus {
  background: var(--grey);
  color: var(--white);
}
.btn-sign-in {
  margin-top: 20px;
  padding: 5px 15px;
  background: #6e03b5cf;
  border: none;
  color: var(--white);
  border-radius: 5px;
}
.btn-sign-in:hover {
  background: var(--accentClr);
  color: var(--white);
}
.btn-sign-in:active {
  background: var(--accentClr);
  color: var(--white);
}
.btn-sign-in:focus {
  background: var(--accentClr);
  color: var(--white);
  outline: none;
}
.btn-sign-in:disabled {
  background: var(--grey);
  color: var(--white);
}
.btn-sign-up {
  padding: 5px 15px;
  background: #6e03b5cf;
  border: none;
  color: var(--white);
  border-radius: 5px;
  margin-bottom: 0;
}
form {
  width: min(80%, 700px);
  margin: 0 auto;
  box-shadow: 2px 0px 5px -1px var(--accentClr);
  padding-inline: 24px;
  padding-block: 40px;
}
.form-group {
  margin-bottom: 5px;
}
label {
  display: block;
  margin-bottom: 5px;
}
.flex {
  display: flex;
  justify-content: space-between;
}
input {
  width: 100%;
  border: 1px solid var(--accentClr);
  padding: 7px 15px;
  border-radius: 5px;
}
input:focus {
  outline: none;
  border-color: var(--accentClr);
}
input[type='submit'] {
  background: var(--accentClr);
  color: var(--white);
  border: none;
  cursor: pointer;
}
input[type='submit']:hover {
  background: var(--accentClr);
  color: var(--white);
}
input[type='submit']:active {
  background: var(--accentClr);
  color: var(--white);
}
input[type='submit']:focus {
  background: var(--accentClr);
  color: var(--white);
}
input[type='submit']:disabled {
  background: var(--grey);
  color: var(--white);
  cursor: not-allowed;
}
input[type='submit']:disabled:hover {
  background: var(--grey);
  color: var(--white);
}
input[type='submit']:disabled:active {
  background: var(--grey);
  color: var(--white);
}
input[type='submit']:disabled:focus {
  background: var(--grey);
  color: var(--white);
}
input[type='submit']:disabled {
  background: var(--grey);
  color: var(--white);
}
input[type='submit']:disabled:hover {
  background: var(--grey);
  color: var(--white);
}
.sign-up-cursor {
  cursor: pointer;
}
.sign-in-title {
  margin-bottom: 20px;
  margin-top: 20px;
}
.sign-up-title {
  margin-bottom: 5px;
  margin-top: 20px;
}
.sign-in-title,
h1 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
.sign-up-title,
h1 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

/* //BLOG */
blog-section {
  font-family: Arial, sans-serif;
}

.blog-heading {
  font-size: 24px;
  color: #222;
  border-bottom: 1px solid #777;
  margin-bottom: 20px;
}

.blog-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.blog-image {
  flex-basis: 30%;
  max-width: 30%;
}

.blogs-img img {
  width: 100%;
  height: 200px;
  display: block;
}

.blogs-img {
  height: 200px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  top: 0;
  box-shadow: (0, 2px, 3px, 1px, rgba(0, 0, 0, 0));
  transition: (all 0.5s);
}

.hover-blogs-img:hover > .blogs-img {
  top: -7px;
  box-shadow: (0, 2px, 3px, 1px, rgba(0, 0, 0, 0.3));
}

.blog-content {
  flex-basis: 70%;
  max-width: 70%;
  padding-left: 20px;
}

.text-start {
  text-align: left;
}
.category {
  display: inline-block;
  position: relative;
  background-color: #4287f5;
  padding: 4px 8px;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  text-transform: none;
  line-height: 16px;
  font-weight: 700;
  border-radius: 4px;
}
.title {
  font-size: 17px;
  color: #222 !important;
  font-weight: 800;
  font-family: 'Poppins';
  text-decoration: none;
  display: block;
}

.meta-info {
  font-size: 12px;
  color: #222;
}
.author {
  display: inline-block;
  font-weight: 600;
  font-size: 15px !important;
}

.short-description {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.btn-read {
  padding: 5px 10px;
  background: #544e66 !important;
  color: #fff;
  border: none;
  border-radius: none;
  font-size: 14px;
  cursor: pointer;
  margin-right: 70px;
}

.btn-read:hover {
  background: #bb0d0d;
}

.edit-icons {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-left: 80px;
}
.py-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.icon-trash,
.icon-edit {
  margin-left: 5px;
  cursor: pointer;
  font-size: 20px;
}
.icon-trash {
  color: #c43421 !important;
}

.icon-edit {
  color: lightsalmon !important;
}

/* DETAIL */

.blog-title-box {
  width: 38.2%;
  z-index: 555;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.single .blog-title-box {
  position: relative;
  height: 700px;
  width: 100%;
}

.blog-title-box .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.4);
}
.blog-single-content .meta-info {
  margin-top: 8px;
  border-bottom: 1px solid #777;
  margin-bottom: 15px;
}

.blog-title-box .blog-title {
  z-index: 12;
  position: absolute;
  bottom: 0;
  padding: 30px;
}

.single .blog-title-box .blog-title {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.blog-title-box .blog-title h2 {
  color: white;
  font-weight: 300;
}

.single .blog-title-box .blog-title h2 {
  font-size: 72px;
}

.blog-title-box .blog-title > span {
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 0.05em;
  margin-bottom: 10px;
}

.blog-single-content {
  z-index: 999;
  background: white;
}

.blog-single-content p,
.blog-single-content ul li {
  font-size: 1.05rem;
}
.row {
  display: flex;
  justify-content: space-between;
  margin-right: -15px;
  margin-left: -15px;
}
.col-md-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.col-md-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.pb-4 {
  padding-bottom: 1rem;
}
.pt-4 {
  padding-top: 1rem;
}
.detail-top {
  margin-top: 70px;
}
.error-404 {
  margin-top: 100px;
  text-align: center;
}
.error-404 h1 {
  font-size: 100px;
  font-weight: 700;
  color: #ec0606;
}

.error-404 h2 {
  font-size: 50px;
  font-weight: 700;
  color: #ec0606;
}

.error-404 p {
  font-size: 20px;
  font-weight: 700;
  color: #ec0606;
}

@media (max-width: 49.9375rem) {
  .row {
    flex-direction: column;
  }
  .col-md-8 {
    flex-basis: 100%;
    max-width: 100%;
    padding: 0 10px;
  }
  .col-md-4 {
    flex-basis: 100%;
    max-width: 100%;
    padding: 0 10px;
  }

  .sign-in button {
    margin-top: 10px;
    margin-left: 90px;
  }
}
